.custom-shape-divider-bottom-1710602235 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710602235 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1710602235 .shape-fill {
    fill: #FFFFFF;
}